@import "vars";

body {
  line-height: 1;
  font-size: 16px;

  *, *:after, &:before {
    box-sizing: border-box;
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  cursor: default;
  font-family: $font-main;
  font-style: normal;
  margin: 0;
}

.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
  position: relative;
}

.site_btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 2rem;
  font-weight: 500;
  line-height: 1rem;
  font-size: 1rem;
  text-align: center;
  font-family: $font-main;
  color: $white;
  padding: 1em 1.4rem;
  margin-left: .5em;
  margin-right: .5em;
  background-color: $dark-blue;
  transition: background-color .1s linear;

  &:hover {
    background-color: darken($dark-blue, 5%);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &__transparent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $white;

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  &__padding-longeg {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}

.section {
  &-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &_content {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  &_title {
    position: relative;
    font-weight: normal;
    font-size: 33px;
    color: $gray20;
    margin-bottom: 1em;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 35px;
      height: 4px;
      bottom: -17px;
      background: $dark-blue;
      border-radius: 5px;
    }
  }

  &_text {
    margin: 1.4375em 0;
    font-weight: normal;
    line-height: 27px;
    font-size: 16px;
    color: $gray20;
    @media (max-width: $break-xs) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
