@import "vars";

.skills {
  &-list {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 5em;
    @media (max-width: $break-sm) {
      flex-flow: column wrap;
    }
  }

  &-item {
    flex: 1 1 374px;
    height: 238px;
    position: relative;
    margin-left: .625em;
    margin-right: .625em;
    border-radius: 1em;
    overflow: hidden;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
    @media (max-width: $break-sm) {
      flex: 1 1 100%;
      margin: 1rem 0;
      min-height: 150px;
      height: 100%;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    @media (max-width: $break-xs) {
      min-height: auto;
      height: 100px;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(35, 32, 38, .69), rgba(35, 32, 38, .69));
    }

    &_content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1em 1.5em;
      @media (max-width: $break-xs) {
        display: flex;
        align-items: center;
      }
    }

    &_title {
      font-weight: 500;
      line-height: 40px;
      font-size: 24px;
      margin: 0;
      color: $white;
    }

    &_description {
      font-weight: normal;
      line-height: 27px;
      font-size: 16px;
      color: $white;
      margin: .6em 0;
      @media (max-width: $break-xs) {
        display: none;
      }
    }
  }
}
