body {
  font-size: 16px;
  line-height: 1;
  *, *:after, &:before {
    box-sizing: border-box;
  }
}

.site_btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 31px;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  color: #FFFFFF;
  padding: 1em 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: #3B7397;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &__transparent {
    background-color: transparent;
    border: 1px solid #FFFFFF;
  }
  &__padding-longeg {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}

.site_submit {
  text-decoration: none;
  border-radius: 31px;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  color: #FFFFFF;
  padding: 1em 6em;
  border: none;
  background-color: #3B7397;
  &:focus {
    outline: none;
  }
}

.site-input {
  position: relative;
  margin-bottom: 30px;
  font-family: 'Lato';
  input {
    background-color: transparent;
  }

  label {
    color: #999;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
    width: 100%;
  }
  textarea {
    resize: none;
  }
  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  textarea,
  input[type=search] {
    color: #333;
    font-size: 16px;
    padding: 10px 10px 10px 0;
    position: relative;
    display: block;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d5d5d5;

    &:focus {
      outline: none;
    }

    &:focus + label,
    &:valid + label {
      top: -10px;
      font-size: 12px;
      color: #3B7397;
    }

    &:focus ~ .input-bar:before,
    &:focus ~ .input-bar:after,
    &:valid ~ .input-bar:before,
    &:valid ~ .input-bar:after {
      width: 51%;
      background: #3B7397;
      border-bottom: 0px;
    }
  }

  .input-bar {
    position: relative;
    display: block;
    width: 100%;
    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0px;
      position: absolute;
      bottom: 0.5px;
      background: #3B7397;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 51%;
    }
    &:after {
      right: 49%;
    }
    & + label:after {
      display: block;
      content: "";
      position: absolute;
      top: 65px;
      opacity: 0;
      transition: 0.2s opacity ease-out, 0.2s color ease-out;
      -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
      -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    }
  }
}

.header {
  width: 100%;
  height: 100vh;
  min-height: 620px;
  position: relative;
  &-logo {
    position: absolute;
    top: 3.75em;
    width: 100%;
    left: 0;
    transition: top 100ms linear;
    @media (max-height: 620px) {
      top: 2.5em;
    }
    &_img {
      width: 175px;
      height: 60px;
    }
  }
  &-bg {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(119.05deg, #232026 0%, rgba(33, 32, 38, 0.95) 43.93%, rgba(33, 32, 38, 0.87) 63.67%, rgba(33, 32, 38, 0.7239) 77.71%, rgba(33, 32, 38, 0) 100%);
  }
  &-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &_secondary {
      margin-top: 3em;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 98px;
        height: 5px;
        background: #87DAB1;
        border-radius: 5px;
      }
    }
    &_primary-text,
    &_secondary-text {
      font-family: 'Lato';
      font-style: normal;
      color: #FFFFFF;
    }
    &_primary-text {
      font-weight: 300;
      line-height: 65px;
      font-size: 64px;
      margin: 0;
    }
    &_secondary-text {
      font-weight: normal;
      line-height: 25px;
      font-size: 16px;
    }
    &_buttons {
      margin-top: 2.5em;
    }
  }
}

.section {
  &-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  &_title {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    font-size: 33px;
    color: #333333;
    margin-bottom: 1em;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      height: 4px;
      top: 130%;
      background: #3B7397;
      border-radius: 5px;
    }
  }
  &_text {
    margin: 2em 0;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 16px;
    color: #333333;
  }
}

.about {

}

.skills {
  &-list {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 5em;
  }
  &-item {
    flex: 1 1 374px;
    height: 238px;
    position: relative;
    margin-left: 0.625em;
    margin-right: 0.625em;
    border-radius: 1em;
    overflow: hidden;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(35, 32, 38, 0.69), rgba(35, 32, 38, 0.69));
    }
    &_content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1em 1.5em;
    }
    &_title {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      line-height: 40px;
      font-size: 24px;
      margin: 0;
      color: #FFFFFF;
    }
    &_description {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      font-size: 16px;

      color: #FFFFFF;
    }
  }
}

.hwl {
  &-list {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
  }
  &-item {
    flex: 1 1 374px;
    height: 238px;
    position: relative;
    margin-left: 0.625em;
    margin-right: 0.625em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &_title {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: 40px;
      font-size: 24px;

      color: #000000;
    }
    &_description {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      font-size: 16px;

      color: #333333;
    }
  }
}

.contact {
  &-list {}
  &-item {
    display: flex;
    align-items: baseline;
    width: 50%;
    i {
      color: #333333;
    }
    p {
      margin-left: 1em;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      font-size: 16px;
      color: #333333;
    }
  }
}
